* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.typing {
    color: #00FF08;
    position: absolute;
    top: 40px;
    left: 0px;
    margin-left: 80px;  
    .auto-type {
        color: #00FF08;
        font-family: 'Inconsolata', monospace;
    }
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex2{
    display: flex;
    margin-left: 200px;
}

.voltar-ao-topo {
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    background-color: #00FF08;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    transition: .3s;
}


h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00FF08;
}


header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: #bababa;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}


section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}


section.redes {
    padding: 40px 4%;
}

section.redes .flex {
    gap: 60px;
}

.redes .redes-box {
    color: #fff;
    left: 100px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    margin-right: 200px;
}

.redes .redes-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.redes .redes-box i {
    position: relative;
    top: 0;
    padding-left: 40px;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.redes .redes-box h3 {
    font-size: 28px;
    margin: 15px 0;
}


section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}


footer {
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    color: #fff
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00FF08;
}

footer .line-footer p i {
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {


    .flex {
        flex-direction: column;
    }

    .sobre .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    
    section.sobre .flex {
        gap: 40px;
    }

    section.sobre {
        padding: 20px 8%;
    }

    .sobre h1 {
        font-size: 30px;
    }

    .sobre .img-topo-site img {
        width: 100%;
    }

    section.redes {
        padding: 40px 8%;
    }


    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }



    

    
}